* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgb(104, 244, 247),rgb(251, 72, 48));
}

.login {
    /* size */
    height: 340px;
    width: 360px;
    /* location and layout */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
    /* shadow & background */
    background-color: rgb(255, 254, 252);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
    /* border */
    border-radius: 15px;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    /* background blur */
    backdrop-filter: blur(5px);
}

.SignIn {
    font-size: 25px;
    font-weight: 550;
}

.user {
    height: 40px;
    width: 247px;
    padding-left: 15px;
    line-height: 40px;

    color: rgb(128, 128, 128);
    background-color: rgb(226, 226, 226);

    border-radius: 10px;

    transition: all 0.2s;
}

.user:hover {
    width: 260px;
}

.user input {
    font-size: 15px;
    background-color: rgb(226, 226, 226);
}

.loginBtn {
    height: 40px;
    width: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    font-size: 15px;

    color: azure;
    background-color: rgb(70, 190, 237);

    border-radius: 10px;

    transition: all 0.2s;
}

.loginBtn:hover {
    width: 80px;
    transform: translate(0px,2px);
    cursor: pointer;
}

.noAccount {
    font-size: 12px;
}

.register {
    display: inline-block;
    text-decoration: none;
    color: rgb(21, 153, 201);

    transition: all 0.2s;
}

.register:hover {
    color: rgb(17, 109, 142);
    transform: scale(1.05);
}